body{
    height: 1400px;
    /* background-color: rgb(30, 29, 29); */
}

/* sign up form/ original idea by"Mohan Khadka" */

#form-container{
    
    position: absolute;
    right: 52%;
    left: 3%;
    top: 0%;
    z-index:1;
    display: none;
    animation: drop-in 0.4s linear;
    
}
@keyframes drop-in{
    0%{
        transform: rotate(-30deg) translateY(-150%);
        opacity: 0;
       
    }
    100%{
        transform:rotate(0deg) translateY(0%);
        opacity: 1;
       
    }
}

#close{
    z-index: 1;
    position: absolute;
    top: 3%;
    right: 5%;
    width: 5%;
    border-radius: 30%;
    background-color: rgb(58, 142, 220);
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:425px;
	min-height:570px;
	position:relative;
	/* background:url(/images/water.jpg) no-repeat center; */
  
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
   
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	/* background:rgba(1, 39, 4, 0.9); */
    background-color: rgb(1, 2, 1);
    cursor: pointer;
  
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
    cursor: pointer;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
   color: rgb(90, 69, 69);
}



/* ^^end sign up form^^ */

.top-head{
    height: 3%;
    justify-content: flex-end;
    padding-right: 3%;
    padding-top: 2%;
}

.top-head i{
  font-size: 1rem;
  color: grey;
}
.top-head a{
    color: grey;
    font-size: large; 
    
}

h1{
    color: green;
    margin-left: 25%;
    position: absolute;
    top: 2%;
}
.container-fluid{
   height: 3.1rem;
  
   
}
.user{
   color: white;
}
.dropdown{

    width: 20%;
    height: 75%;
   /* border: 2px solid red;*/
    margin-right: 20%;
    
    position: absolute;
    top: 3%;

}
.dropdown ul{
    margin-top: 40px;
    opacity: 0;
    transition: all 0.5s;
    
    
   
   
}
button{
    margin-bottom: 0%;
    margin-left: 15%;
    font-size: 25px;
    
   
   
}
.dropdown li{
    width: 160px;
    list-style-type: none;
    line-height: 50px;
    border: 1px solid rgb(224, 216, 216);
    box-shadow:2px 1px 1px 1px gray;
    margin: 9px;
    text-align: center;
    border-radius: 3%;
    font-size: 1.25rem;
     font-weight: 600;
    
}
li a{
    text-decoration: none;
    color: rgba(8, 235, 23, 0.92);
}
 .dropdown li:hover{

    background-color: rgb(113, 113, 109);
}

 .menu button:focus + ul{
    opacity: 1;
     
     pointer-events: all;
   
}
.img-fluid {
    position: absolute;
    top: 15%;
    left: 52%;
    height: 85%;
    width: 45%;
    border-radius: 5%;
    background-color: rgb(138, 133, 133);
    background-blend-mode:multiply;
    box-shadow:  0px 0px 8px 2px rgb(159, 227, 124);
}
.half-page{
    height: 40%;
   
    margin-bottom: 0;
    background-image: url(/images/testemon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.message{
    position: absolute;
    color: rgba(12, 77, 16, 0.92);
    width: 20%;
    font-size: 20px;
    font-weight: 600;
    right: 25%;
    top: 65%;
    text-align: left;
    line-height:;
}
.wrapper{
    background-color: rgb(30, 29, 29);
    height: 35%;
    margin: 0;
    padding-top: 2%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
color: green;
}



footer{
    height: 20%;
    background-color: rgb(102, 234, 102);
    border: 4px solid rgb(39, 63, 31);
    background-image: url(/images/fire.jpg);
    background-color: green;
    background-blend-mode: darken;
   
   display: flex;
   
   justify-content:space-around;
   align-items: center;
  
   
    
}
#right-side{
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin-right: 2%;
 

}



p{
    color: antiquewhite;
    margin-top: 0;
    text-align: center;
}
.trade-mark{
    color: antiquewhite; 

}
.social-media{
    font-size: 25px;
    margin-top: 1%;
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 5%;
    color: rgba(8, 235, 23, 0.92);
   
    
}
.social-media a{
    color: rgba(8, 235, 23, 0.92);
   
    
}
.social-media a:hover{
    color: blue;
}

#pages{
    margin-left:;
    font-size: 23px;
    margin-top: 2%;
    /* border: 2px solid red; */
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#pages b{
   margin-left: ; 
   color: rgba(8, 235, 23, 0.92);
}

#pages li{
    font-size: 18px;
    list-style-type: none;
    margin-top: 7%;
    border-radius: 5%;

}
#pages a{
    text-decoration: none;
    color: rgb(244, 221, 221);
}
#pages li:hover{
    background-color: rgb(58, 43, 43);
}




.slider-frame{
   
    overflow: hidden;
    height: 400px;
    width: 600px;
    margin: auto;
    background-color: black;
    margin-top: 1%;
    /* border: 4px solid red; */
   
    
}

/* slide animation */

@-webkit-keyframes slide_animation {
    0%{left: 0px;}
    10% {left: 600px;}
    30% {left: 1200px;}
    40% {left: 1800px;}
    50% {left: 1800px;}
    60% {left: 1200px;}
    80% {left:600px;}
    100% {left: 0px;} 
   
   

}
.slide-images{
    width: 2400px;
    height: 400px;
    margin: 0 0 0 -1800px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 35s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;

}

.img-container{
    height: 400px;
    width: 600px;
    position: relative;
    float: left;
}
.img-container img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:890px){
   .img-fluid {
    height: 85%;
   }
   .dropdown li{
    width:160px;
}
.top-head{height: 5%;
  

}
.message{
   
    top: 63%;
    font-size: 1.1rem;
}
#right-side p{
    font-size: 1rem;
}


}
