*{margin: 0;
padding: 0;
}
body{
    height:50rem;
    /* border: 2px solid red; */
    background-color: rgb(104, 104, 224);
   background-image: url(/images/deep.water.jpg);
   
   background-size: cover;
   background-blend-mode:darken;
   background-repeat: no-repeat;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;

}
h1{
    color: rgb(3, 2, 8);
    margin-left: 17%;
    font-size: 3em;
}
.nav-bar{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 7%;
    background-image: url(/images/deep.water.jpg);
    margin-right: 8%;
   
}
.nav-bar a{
    font-size: 1.5em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.966);
    font-weight: 800;
  
    
}
hr{
    width: 75%;
    margin-left: 17%;
}
main{
    height: 65%;
    /* border: 2px solid red; */
    
}
#midlle{
    display: flex;
    margin-left: 17%;
    margin-top: 12%;
}
h2{
    font-size: 2.5rem;
    font-weight: 500;
    color: antiquewhite;
}
#midlle p{
    font-size: 3rem;
    font-weight: 800;
    color: antiquewhite;
}
#midlle img{
   
    width: 25%;
    margin-left: 3%;
    box-shadow: 1px 1px 2px rgb(81, 81, 200);
}
footer{
  /* border: 2px solid wheat; */
 height: 21%;
 margin-top: -15%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
   
}
.social-media{
    font-size: 25px;
    margin-top: 1%;
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 5%;
    color: rgba(4, 4, 91, 0.92);
   
    
}
.social-media a{
    color: rgba(85, 66, 211, 0.92);
   
    
}
.social-media a:hover{
    color: rgb(212, 212, 212);
}
.bottom{
    width: 50%;
    margin-left: 1%;
    margin-top: 1%;
}
.copyright{
    font-size: 1.5em;
    margin-top: 2%;
    color: beige;
}




@media screen and (max-width:1000px){
    h1{
        margin-left:10%;
        font-size: 2.5em;
    }
     
    .nav-bar{
        
        margin-right: 15%;
       
    }
         
    #midlle{
        margin-left: 10%;
    }
    hr{
        margin-left: 10%;

    }
   
    #midlle p{
        font-size: 2.5rem;
       
    }
    #midlle img{
   
        width: 20%;
        margin-left: 3%;
       
    }
    .copyright{
        font-size: 1.2em;
        margin-top: 2%;
        color: beige;
    }
    

}


@media screen and (max-width:940px){

    h1{
        margin-left:10%;
        font-size: 2.3em;
    }
    .nav-bar{
        
        margin-right: 17%;
       
    }
    .nav-bar a{
        font-size: 1.3em;
        justify-content: space-between;
        
       
      
        
    }

}

@media screen and (max-width:885px){
    body{
        height: 68rem;
    }

    #midlle{
        
        margin-top: 15%;
        padding-top: 5%;

    }
 
}

@media screen and (max-width:835px){
    body{
        height: 100vh;
    }


    .copyright{
        font-size: 1.1em;
        ;
    }
    .nav-bar{
        width: 27%;
        border-right: 10%;
        justify-content: space-between;
    }
    .nav-bar a{
        font-size: 1.1em;
       
    }
}

@media screen and (max-width:435px){
    body{
        height: 60rem;
    }
    header{
        height:12%
    }

    h1{
        font-size: 2rem;
        margin-left: 3%;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 70%;
        justify-content: center;
        align-items: center;
        gap: 17%;
        margin-right: 2%;
    }
    hr{
        margin-left: 3%;
        width: 48%;
    }
    #midlle{
        flex-direction: column;
        margin-left: 5%;
    }
    #midlle img{
        width: 80%;
        margin-top: 15%;
    }
    .copyright p{
     padding-left: 11%;
        font-size: 0.9em;
    }

}
